@page "/menu"


<PageTitle>Menu</PageTitle>

<h2 class="text-center">Menu Items</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="/item-detail"><img src="/images/coffee.jpg" style="width:50%" alt="Coffee Mug" title="Coffee" /></a>
            <div class="item-name">Coffee</div>
            <div class="price">1.99</div>
        </div>
        <div class="col-md-3 text-center">
            <img src="/images/bagel.jpg" style="width:50%" alt="Bagel" title="Bagel" />
            <div class="item-name">Bagel</div>
            <div class="price">1.79</div>
        </div>
        <div class="col-md-3 text-center">
            <img src="/images/tea.jpg" style="width:50%" alt="Tea" title="Tea" />
            <div class="item-name">Tea</div>
            <div class="price">1.99</div>
        </div>
        <div class="col-md-3 text-center">
            <img src="/images/hashbrown.jpg" style="width:50%" alt="Hashbrown" title="Hashbrown" />
            <div class="item-name">Hash Brown</div>
            <div class="price">2.29</div>
        </div>
    </div>
</div>

