@page "/menu"


<PageTitle>Menu</PageTitle>

<h1>Menu Items</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/images/coffee.jpg" style="width:100%" alt="Coffee Mug" title="Coffee"/>
            <h3>Coffee</h3>
        </div>
        <div class="col-md-3">
            <img src="/images/bagel.jpg" style="width:100%" alt="Bagel" title="Bagel"/>
            <h3>Bagel</h3>
        </div>
        <div class="col-md-3">
            <img src="/images/tea.jpg" style="width:100%" alt="Tea" title="Tea"/>
            <h3>Tea</h3>
        </div>
        <div class="col-md-3">
            <img src="/images/hashbrown.jpg" style="width:100%" alt="Hashbrown" title="Hashbrown" />
            <h3>Hash Brown</h3>
        </div>
    </div>
</div>

