@page "/menu"


<PageTitle>Menu</PageTitle>

<h1>Menu Items</h1>

<table border="1" cellspacing="5" cellpadding="5">
    <tr style="font-size:20px;">
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr>
        <td>
            Regular Coffee
        </td>
        <td>
            1.99
        </td>
        <td>   
            <input type="text" placeholder="Enter quantity" style="width:50px;"/>
        </td>
        <td>
            <button style="background-color:blue;border:0px;color:white">Add to Cart</button>
        </td>
    </tr>
    <tr>
        <td>
            Dark Roast
        </td>
        <td>
            1.99
        </td>
    </tr>
    <tr>
        <td>
            Decaf
        </td>
        <td>
            1.99
        </td>
    </tr>
    <tr>
        <td>
            French Vanilla
        </td>
        <td>
            2.19
        </td>
    </tr>
    <tr>
        <td>
            Hot Chocolate
        </td>
        <td>
            2.19
        </td>
    </tr>
    <tr>
        <td>
            Everything bagel
        </td>
        <td>
            2.49
        </td>
    </tr>
    <tr>
        <td>
            Hash brown
        </td>
        <td>
            1.59
        </td>
    </tr>
</table>









