@inherits LayoutComponentBase

<PageTitle>CoffeeShopOrderingSystem</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row">
            <div class="row">
                <div class="col-md-4">
                    <a href="/menu">Menu</a> | <a href="/add-item">Add Item</a>
                </div>
                <div class="col-md-4 align-center">
                    <a href="/"><h1>Cambrian Coffee Shop</h1></a>
                </div>
                <div class="col-md-4 text-end">
                    <a href="/cart"><i class="bi bi-bag cart"></i></a>
                </div>
            </div>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

