@inherits LayoutComponentBase

<PageTitle>CoffeeShopOrderingSystem</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <h1> Cambrian Coffee Shop</h1>
            <a href="menu">Menu</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

