.cart-container a[b-uyujv3wjb1] {
    color: #222222;
}

.cart-container a:hover[b-uyujv3wjb1] {
    color: #000000;
}

.cart-container .row[b-uyujv3wjb1] {
    border: 1px solid #999999;
    padding:10px;
}